.hero-container {
  z-index: 1;
}

.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero h1 {
  max-width: 1200px;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0.5rem;
  background: linear-gradient(135deg, #f97316 0%, #c026d3 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
    min-height: 500px;
  }
}