.tradingview {
  width: 100%;
}

.tradingview .tradingview-widget-container {
  width: 100%;
  height: 100%;
}

/* stylelint-disable-next-line selector-class-pattern */
.tradingview .tradingview-widget-container__widget {
  width: 100%;
  height: 100%;
}

.tradingview .tradingview-widget-copyright {
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.4;
}

.tradingview .tradingview-widget-copyright .blue-text {
  color: #2962ff;
}
